{% extends 'blog/base.html' %} 
{% load staticfiles %}
{% block head_title %}Add New Post{% endblock %}

{% block content %}  
  <form class="form" action="/admin/add-post" method="post">
    {% csrf_token %}
    {% for field in form %}
      
      <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label class="control-label" for="{{ field.id_for_label }}">
          {{ field.label }}
        </label> 
        {% if field.name == "slug" %}
          <div class="input-group">
            {{ field }}
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" 
                onclick="generateSlug()" aria-label="Generate Slug"
                data-toggle="tooltip" title="Generate Slug" data-container="body">
                <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
              </button>
            </span>
          </div>
        {% else %}
          {{ field }}
        {% endif %}
        {% if field.errors %}
          <span class="help-inline">
            {% for error in  field.errors %}{{ error }}{% endfor %}
          </span>
        {% endif %}
      </div>
      
      {% if field.name == "text" %}
        <div class="form-group">
          <label class="control-label" for="preview">Preview</label> 
          <div id="preview"> </div>
        </div>
      {% endif %}
    
    {% endfor %}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary" >Submit</button>
    </div>
</form>
{% endblock %}


{% block extra_scripts %}

    <script src="{% static 'blog/markdown-0.6.0-beta1.min.js' %}"></script>
    

    <script>
    $(document).ready(function(){
      $( "[data-toggle='tooltip']" ).tooltip();
    });
    
    function generateSlug() {

      // Get the current title
      var title = $( "#id_title" ).val();
      
      // Use it to generate a slug
      // Recipe from http://stackoverflow.com/a/1054862
      $( "#id_slug" ).val( title.toLowerCase().replace(/[^\w ]+/g,'').replace(/ +/g,'-') );
    
    }
    
    function Editor( input, preview ) {
      this.update = function () {
        preview.innerHTML = markdown.toHTML( input.value );
      };
      input.editor = this;
      this.update();
    }
    
    new Editor( document.getElementById( "id_text" ), document.getElementById( "preview" ) );
    </script>
{% endblock %}