{% load staticfiles %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block head_title %}The PotBET Blog{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="{% static "blog/styles/main.css" %}">-->
    <link rel="stylesheet" href="{% static "blog/main.css" %}">
    
  </head>
  <body>
  
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#blog-navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">potBET</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="blog-navbar-collapse">
          <ul class="nav navbar-nav">
            {% for page in pageList %}
              {% if page.name == activePageName %}
                <li class="active"><a href="{{ page.link }}">{{ page.name }}<span class="sr-only">(current)</span></a></li>
              {% else %}
                <li><a href="{{ page.link }}">{{ page.name }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
          {% if loggedIn %}
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{{ logoutLink }}">Logout</a></li>
            </ul>
          {% endif %}
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
      {% block content %}

      {% endblock %}
    </div>
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>