{% extends 'blog/base.html' %}

{% block content %}
  <div class="blog-header">
    <p class="lead blog-description">
      Welcome to potBET. A simple blog site built with Django.
    </p>
  </div>

  {% if posts %}
    {% for post in posts %}
      <div class="row blog-index-row">
        <div class="col-xs-12 blog-main">
          <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
          <p class="blog-post-meta">{{ post.posted_date_time }}</p>
          
          <div id="preview" class="blog-markdown-display"> 
            {{ post.formatted_snippet |safe }}
          </div>
          <a href="{{ post.get_absolute_url }}">More...</a>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p>There are no posts.</p>
  {% endif %}
  
  <nav>
    <ul class="pager">
      {% if page < num_pages|add:'-1' %}
        <li><a href="/?page={{ page|add:'1' }}">Older</a></li>
      {% endif %}
      {% if page > 0 %}
        <li><a href="/?page={{ page|add:'-1' }}">Newer</a></li>
      {% endif %}
    </ul>
  </nav>
  
{% endblock %}